*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:before, *:after {
    box-sizing: inherit;
}

body {
    background-attachment: fixed;
}

#root {
    height: 100vh;
    overflow: hidden;
    flex-wrap: wrap;
    display: flex;
}

a {
    text-decoration: none;
}

.App {
    height: 140%;
    width: 100%;
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease;
    display: flex;
}

.App:hover #nav-container {
    display: block;
}

/* Navigation menu */

#header {
    /* border: 1px solid red; */
    position: fixed;
    top: 0px;
    margin: auto auto;
    width: 100%;
    height: 18%;
}

#navigation {
    /* border: 1px solid black; */
    position: fixed;
    top: 0px;
    width: 100%;
    height: 15%;
}

#nav-container {
    /* border: 1px solid purple; */
    position: fixed;
    top: 0px;
    right: 0px;
    display: inline none;
    padding: 15px;
    text-align: right;
    font-size: 20px;
    height: 12%;
}

#nav-container, .wrapper-inner-tab-backgrounds, .success-message, .wedding-details {
    font-family: 'Sulphur Point', sans-serif;
}

#greeting-message, .create-guest-container {
    font-family: 'Great Vibes', cursive;
    color: whitesmoke;
}

.admin-navigation .wrapper-inner-tab-background {
    width: 25%;
}

#login-container {
    border: 1px solid whitesmoke;
    width: 510px;
    color: whitesmoke;
    position: fixed;
    top: 15%;
    left: 32%;
    border-radius: 20px;
    -webkit-animation-name: animation-container;
    -webkit-animation: animation-container 8s;
    -webkit-animation-fill-mode: forwards;
    animation-name: animation-container 8s;
    -webkit-animation-fill-mode: forwards;
}

@keyframes animation-container {
    from {
        background-color: transparent;
    }
    to {
        background-color: rgba(0, 0, 0, .8);
    }
}

.login-text {
    position: relative;
    top: 50px;
    left: 7%;
    text-align: center;
    align-content: center;
    align-items: center;
    height: 350px;
}

.login-text h1 {
    position: relative;
    left: -8%;
    font-size: 40px;
}

.login-input, .login-input-btn {
    position: relative;
    top: 65px;
    right: 15%;
    margin: 20px;
}

.login-text label {
    font-size: 30px;
}

.login-input-btn, .create-guest-button {
    position: relative;
    left: 15%;
    top: 120px;
    width: 24%;
    height: 34px;
    border-radius: 20px;
    border-style: thin;
    background-color: transparent;
    color: whitesmoke;
    font-size: 20px;
    cursor: pointer;
    outline: none;
}

.login-input-btn:hover, .create-guest-button:hover {
    background-color: whitesmoke;
    color: black;
}

#username-input, #password-input {
    border-radius: 25px;
    height: 40px;
    background-color: transparent;
    text-align: center;
    color: whitesmoke;
    font-size: 15px;
    outline: none;
}

#username-input:hover, #password-input:hover, .create-guest input:hover {
    background-color: whitesmoke;
    color: black;
}

/* Home page user */

.homepage-container {
    width: 95%;
    height: 80%;
    position: fixed;
    left: 2%;
    top: 10%;
    display: inline-grid;
    text-align: center;
}

.user-page-container {
    position: relative;
    border-style: solid;
    border-radius: 20px;
    color: whitesmoke;
    overflow: auto;
    overflow-x: hidden;
    -webkit-animation-name: animation-container;
    -webkit-animation: animation-container 5s;
    -webkit-animation-fill-mode: forwards;
    animation-name: animation-container 5s;
    -webkit-animation-fill-mode: forwards;
}

.user-page-container::-webkit-scrollbar {
    width: 12px;
}

.user-page-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

.user-page-container::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: whitesmoke;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.user-page-container h1, h2, h3 {
    font-family: 'Tangerine', cursive;
}

.user-page-container h1 {
    font-size: 85px;
}

.couple {
    height: 30%;
    position: relative;
    top: 10%;
}

.couple h2 {
    font-size: 45px;
}

.wedding-date {
    position: relative;
    top: 15%;
    height: 400px;
}

.wedding-date h2 {
    font-size: 75px;
}

.wedding-date h3 {
    font-size: 55px;
}

.wedding-date p {
    font-size: 35px;
}

.couple-intro {
    position: relative;
    top: 110px;
    display: inline-block;
    width: 50%;
    text-align: center;
    align-content: center;
    margin: 30px;
}

.intro {
    display: inline-block;
    width: 450px;
    float: right;
    text-align: center;
    align-content: center;
}

.temp {
    position: relative;
    top: 15%;
}

.intro h3 {
    font-size: 65px;
}

.intro p {
    font-size: 25px;
}

.wedding-events-container {
    position: relative;
    top: 110px;
    display: inline-block;
    width: 80%;
    text-align: center;
    align-content: center;
    margin: 30px;
}

.wedding-events-container h2 {
    font-size: 65px;
    padding: 50px;
}

.event {
    display: inline;
    width: 550px;
    float: right;
    text-align: center;
    align-content: center;
}

.event h3 {
    font-size: 55px;
    padding-bottom: 25px;
}

.event span {
    font-size: 30px;
    padding-top: 25px;
    padding: 10px;
}

.event p {
    padding-top: 20px;
    font-size: 20px;
}

#main-ceremony h3, #wedding-party h3 {
    border-bottom: 1px solid whitesmoke;
}

/* Create guest list */

.create-guest-container {
    /* border: 1px solid yellow; */
    height: 550px;
    width: 510px;
    position: fixed;
    top: 15%;
    font-size: 20px;
    left: 32%;
    border-radius: 20px;
    align-items: center;
    align-content: center;
    -webkit-animation-name: animation-container;
    -webkit-animation: animation-container 3s;
    -webkit-animation-fill-mode: forwards;
    animation-name: animation-container 3s;
    -webkit-animation-fill-mode: forwards;
}

.create-guest {
    /* border: 1px solid white; */
    position: relative;
    height: 65%;
    top: 10%;
    left: 0%;
    margin: 10px;
    font-size: 35px;
    color: whitesmoke;
}

.create-guest form {
    /* border:1px solid yellow; */
    height: 65%;
}

.guest-names {
    position: relative;
    border-radius: 25px;
    height: 40px;
    width: 80%;
    background-color: transparent;
    color: whitesmoke;
    margin: 15px;
    font-size: 15px;
    text-align: center;
    outline: none;
}

.success-message {
    width: 500px;
    font-size: 25px;
    position: absolute;
    left: 110%;
    top: 4%;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 25px;
    text-align: center;
}

/* Display guest list */

.guest-container, #weddings-container, .wedding-details-container, #no-guests-message {
    border-style: solid;
    border-color: white;
    border-radius: 25px;
    width: 95%;
    height: 90%;
    display: inline-grid;
    position: fixed;
    left: 2%;
    top: 10%;
    background-color: rgba(0, 0, 0, 8);
    opacity: 0.8;
}

.guests {
    display: inline-block;
    margin-right: 10px;
    font-family: "Georgia", cursive;
    font-size: 20px;
    color: whitesmoke;
    background-attachment: fixed;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-face-color: #367CD2;
    scrollbar-shadow-color: #FFFFFF;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #FFFFFF;
    scrollbar-track-color: #FFFFFF;
    scrollbar-arrow-color: #FFFFFF;
}

.guests::-webkit-scrollbar {
    width: 12px;
}

.guests::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.guests::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: whitesmoke;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.guests form {
    position: relative;
    top: 55px;
    left: 30%;
    padding-bottom: 10px;
}

.guests .button {
    position: relative;
    left: 35%;
    bottom: 50px;
}

.guests, .status {
    position: relative;
    left: 0%;
    top: 15px;
}

.guests h3 {
    position: relative;
    left: 45%;
    font-size: 85px;
}

.guests h5 {
    position: relative;
    right: 15%;
}

#guest-on-line {
    border-bottom: 1px solid whitesmoke;
}

#status-question-container {
    position: relative;
    top: 2%;
    right: 35%;
    align-items: center;
    text-align: center;
    font-family: "Georgia", cursive;
    font-size: 17px;
}

#check-attendence {
    position: relative;
    left: 27%;
}

#total-guests {
    position: relative;
    bottom: -2%;
    left: 2%;
}

.select-box {
    cursor: pointer;
    position: relative;
    left: 20%;
    bottom: 25px;
    color: whitesmoke;
    background-color: black;
    display: block;
    font: 400 17px/2em 'Source Sans Pro', sans-serif;
    background: transparent;
}

.select-box:hover {
    background: whitesmoke;
    cursor: pointer;
    color: rgba(0, 0, 0, 8);
}

.guest-button input {
    cursor: pointer;
    margin: 5px;
    height: 25px;
    width: 7%;
    background-color: transparent;
    color: white;
}

#confirm-status {
    position: relative;
    left: 30%;
}

#confirm-status:hover {
    background-color: greenyellow;
    color: black;
}

#delete-guest:hover {
    background-color: red;
}

#no-guests-message {
    color: whitesmoke;
    text-align: center;
}

#no-guests-message h1 {
    border: 1px white solid;
    position: relative;
    top: 35%;
    font-size: 65px;
}

#no-guests-message h5 {
    font-size: 25px;
    color: whitesmoke
}

#no-guests-message h5:hover {
    color: greenyellow;
}

/* Display all weddings - admin */

#weddings-container {
    color: whitesmoke;
    overflow: auto;
    overflow-x: hidden;
}

#weddings-container h2 {
    /* border: 1px solid yellow; */
    height: 16%;
    width: 70%;
    font-size: 75px;
    position: relative;
}

.wedding {
    position: relative;
    display: inline-grid;
    float: left;
    text-align: center;
    column-fill: auto;
    background-color: whitesmoke;
    border-radius: 100px 5px;
}

.wedding:hover {
    background-color: transparent;
}

.wedding h5:hover {
    color: whitesmoke;
}

.wedding h5 {
    color: black;
}

/* Display wedding details - admin */

.wedding-details-container {
    color: whitesmoke;
    text-align: left;
}

.wedding-details-container h1 {
    text-align: center;
}

.wedding-details {
    position: relative;
}

/* Display create wedding - admin */

.create-wedding-container {
    color: whitesmoke;
    position: fixed;
    left: 0%;
    border-radius: 20px;
    overflow: auto;
    -webkit-animation-name: animation-container;
    -webkit-animation: animation-container 3s;
    -webkit-animation-fill-mode: forwards;
    animation-name: animation-container 3s;
    -webkit-animation-fill-mode: forwards;
}

.create-wedding-container h1 {
    text-align: center;
}

.create-wedding {
    position: relative;
    display: grid;
    align-items: start;
    justify-content: space-between;
}
.create-wedding-input {
    border-radius: 20px;
    background-color: transparent;
    text-align: center;
    color: whitesmoke;
    outline: none;
}
.create-wedding-input:hover {
    background-color: whitesmoke;
    color: black;
    cursor: text;
}
#create-wedding-button {
    border: 1px solid whitesmoke;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    color: whitesmoke;
    border-radius: 25px;
    outline: none;
}

/*-------------------- Mobile phones styles-------------------- */

@media (max-width: 599px) {
    .App {
        background-image: url('../images/paul-gilmore-ho0pa0twtwe-unspl-mobile-devices.jpg')
    }
    /* ----------------------------Navigation bar------------------------------ */
    #nav-container {
        /* border:1px solid black; */
        font-size: 80%;
        width: 100%;
        height: 10%;
        justify-content: center;
        align-items: center;
    }
    #greeting-message {
        display: none;
    }
    .wrapper-inner-tab-backgrounds {
        /* border: 1px solid yellow; */
        display: inline;
        padding: 10px;
        position: fixed;
        right: 0px;
        top: 0%;
        float: right;
        width: 100%;
        height: 15%;
    }
    .wrapper-inner-tab-background {
        position: relative;
        justify-content: center;
        top: -10px;
        display: inline-block;
        float: right;
        height: max-content;
        width: 20%;
    }
    .sim-button {
        line-height: 15px;
        height: 50px;
        text-align: center;
        margin-top: 25px;
        width: 80%;
        cursor: pointer;
    }
    .button11 {
        color: whitesmoke;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        position: relative;
        perspective: 2000px;
    }
    .button11 a {
        color: whitesmoke;
        text-decoration: none;
        display: block;
    }
    .button11 span {
        z-index: 2;
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .button11::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        border: 1px solid rgba(255, 255, 255, 0.5);
        background-color: rgba(255, 255, 255, 0.25);
    }
    .button11::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        border: 1px solid rgba(255, 255, 255, 0.5);
        background-color: rgba(255, 255, 255, 0.25);
    }
    .button11:hover::before {
        -webkit-transform: rotateX(60deg) translate(0px, 40px);
        transform: rotateX(60deg) translate(0px, 40px);
    }
    .button11:hover::after {
        -webkit-transform: rotateX(-60deg) translate(0px, -40px);
        transform: rotateX(-60deg) translate(0px, -40px);
    }
    /*---------------------------------- Login page------------------------------- */
    #login-container {
        position: relative;
        left: 15%;
        top: 15%;
        width: 70%;
        height: 50%;
    }
    .login-input, .login-input-btn {
        top: 10%;
        right: 10%;
        margin: 20px;
    }
    .login-input-btn {
        width: 35%;
    }
    .login-text label {
        font-size: 20px;
    }
    .login-text h1 {
        top: -12%;
    }
    /*---------------------------------- User home page----------------------------  */
    .homepage-container {
        top: 15%;
    }
    .user-page-container h1, .wedding-date h2 {
        font-size: 55px;
    }
    .event {
        width: 300px;
        float: right;
        text-align: center;
        align-content: center;
    }
    .event h3 {
        font-size: 45px;
        padding-bottom: 25px;
    }
    .event span {
        font-size: 15px;
        padding-top: 25px;
        padding: 10px;
    }
    .event p {
        padding-top: 20px;
        font-size: 20px;
    }
    #main-ceremony {
        /* border:1px solid blue; */
        font-size: 15px;
        position: relative;
        right: -18%;
    }
    #wedding-party {
        /* border: 1px solid red; */
        margin: 110px;
        font-size: 15px;
        position: relative;
        left: 40%;
    }
    .create-guest-container {
        height: 80%;
        width: 80%;
        font-size: 15px;
        left: 10%;
    }
    /* Create guest list */
    .guest-container {
        top: 10%;
    }
    .guest-names {
        font-size: 15px;
    }
    .create-guest-button {
        position: relative;
        top: 15%;
        left: 50%;
        width: 45%;
    }
    .success-message {
        color: greenyellow;
        height: 10%;
        width: 120%;
        font-size: 20px;
        left: -10%;
        top: 17%;
    }
    /* Display guest list */
    .guest-container {
        top: 15%;
        height: 85%;
    }
    .guests h3 {
        position: relative;
        left: 30%;
        font-size: 55px;
    }
    .guests h5 {
        right: 25%;
    }
    #status-question-container {
        top: 5%;
        left: -4%;
        align-items: center;
        text-align: center;
        font-family: "Georgia", cursive;
        font-size: 17px;
    }
    #check-attendence {
        display: none;
    }
    .select-box {
        left: -12%;
        bottom: -18px;
    }
    .status {
        position: relative;
        width: 65px;
        left: 45%;
        top: 15px;
    }
    .guest-button input {
        position: relative;
        top: -3px;
        margin: 1px;
        height: 25px;
        width: 15%;
        background-color: transparent;
        color: white;
    }
    #confirm-status {
        left: 15%;
        width: 20%;
    }
    #delete-guest {
        font-size: 10px;
        left: 17%;
        width: 30%;
    }
    #total-guests {
        color: greenyellow;
        font-size: 15px;
        position: absolute;
        top: 22%;
        left: 7%;
    }
    /* Display all weddings - admin */
    #weddings-container {
        height: 80%;
        top: 15%;
    }
    #weddings-container h2 {
        /* border: 1px solid yellow; */
        width: 70%;
        font-size: 45px;
        left: 20%;
    }
    .wedding {
        bottom: 50%;
        left: 20%;
        margin: 20px;
        width: 50%;
        font-size: 20px;
    }
    /* Display wedding details - admin */
    .wedding-details-container {
        top: 15%;
        height: 80%;
    }
    .wedding-details {
        top: 7%;
        font-size: 20px;
    }
    /* Display create wedding page - admin */
    .create-wedding-container {
        height: 80%;
        width: 100%;
        top: 15%;
        font-size: 20px;
    }
    .create-wedding {
        left: 7%;
        top: 10px;
        width: 140px;
        grid-template-columns: 130px 120px 120px;
    }
    .create-wedding-input {
        height: 25px;
        width: 150px;
        margin: 10px;
        font-size: 10px;
    }
    #create-wedding-button {
        background-color: greenyellow;
        font-weight: bold;
        color:black;
        height: 60%;
        width: 100%;
        top: 5px;
        left: 0%;
        font-size: 20px;
    }
}

/* ------------------Desktop Styles regular monitors--------------*/

@media (min-width:1200px) {
    .App {
        background-image: url('../images/paul-gilmore-hO0pA0TwTwE-unsplash.jpg');
        justify-content: center;
        align-items: center;
    }
    /* Navigation bar */
    #nav-container, .wrapper-inner-tab-backgrounds, .success-message, .wedding-details {
        font-family: 'Sulphur Point', sans-serif;
    }
    #nav-container {
        font-size: 20px;
        width: 900px;
    }
    #greeting-message {
        font-size: 45px;
    }
    .wrapper-inner-tab-backgrounds {
        /* border: 1px solid yellow; */
        display: inline;
        padding: 10px;
        position: fixed;
        right: 0px;
        top: -20px;
        float: right;
        width: 1000px;
    }
    .wrapper-inner-tab-background {
        position: relative;
        display: inline-block;
        left: 8%;
        float: right;
        height: max-content;
        width: 20%;
    }
    .sim-button {
        line-height: 50px;
        height: 50px;
        text-align: center;
        margin-top: 25px;
        width: 60%;
        cursor: pointer;
    }
    .button11 {
        color: rgba(255, 255, 255, 1);
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        position: relative;
        perspective: 2000px;
    }
    .button11 a {
        color: whitesmoke;
        text-decoration: none;
        display: block;
    }
    .button11 span {
        z-index: 2;
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .button11::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        border: 1px solid rgba(255, 255, 255, 0.5);
        background-color: rgba(255, 255, 255, 0.25);
    }
    .button11::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        border: 1px solid rgba(255, 255, 255, 0.5);
        background-color: rgba(255, 255, 255, 0.25);
    }
    .button11:hover::before {
        -webkit-transform: rotateX(60deg) translate(0px, 40px);
        transform: rotateX(60deg) translate(0px, 40px);
    }
    .button11:hover::after {
        -webkit-transform: rotateX(-60deg) translate(0px, -40px);
        transform: rotateX(-60deg) translate(0px, -40px);
    }
    /* Create guest list */
    .create-guest-button {
        position: relative;
        top: 50%;
        left: 75%;
    }
    .success-message {
        position: absolute;
        left: 100%;
        top: 4%;
        background-color: rgba(0, 0, 0, .8);
        border-radius: 25px;
        text-align: center;
    }
    /* User home page */
    #main-ceremony {
        position: relative;
        right: 58%;
    }
    #wedding-party {
        position: relative;
        right: 2%;
        top: 9%;
    }
    /* Guest list page */
    .guest-container {
        top: 11%;
    }
    #check-attendence {
        position: relative;
        left: 26%;
        top: 35px;
    }
    .status {
        position: relative;
        left: 9%;
        top: 15px;
    }
    .guest-button input {
        height: 25px;
        width: 10%;
        background-color: transparent;
        color: white;
    }
    /* Login page */
    #login-container {
        height: 80%;
        width: 510px;
        color: whitesmoke;
    }
    /* Display all weddings - admin */
    #weddings-container h2 {
        left: 36%;
    }
    .wedding {
        bottom: 60%;
        left: 5%;
        margin: 15px;
        width: 10%;
        font-size: 20px;
    }
    /* Display wedding details - admin */
    .wedding-details {
        top: 7%;
        font-size: 35px;
    }
    .create-wedding-container {
        height: 80%;
        width: 75%;
        top: 15%;
        font-size: 20px;
    }
    /* Display create wedding page - admin */
    .create-wedding-container {
        height: 90%;
        width: 100%;
        top: 10%;
        font-size: 20px;
    }
    .create-wedding {
        left: 10%;
        top: 10px;
        width: 140px;
        grid-template-columns: 320px 120px 120px;
    }
    .create-wedding-input {
        height: 30px;
        width: 250px;
        margin: 10px;
        font-size: 15px;
    }
    #create-wedding-button {
        background-color: greenyellow;
        font-weight: bold;
        color:black;
        height: 60%;
        width: 100%;
        top: 5px;
        left: 0%;
        font-size: 20px;
    }
}